*.pyc
examples/data/.ipynb_checkpoints/*
.pytest_cache/*
.pytest_cache/*
build/*
dist/*
PIVPy.egg-info/*
tests/PIVPy.egg-info/*
.vscode/
docs/build/*
docs/build/doctrees/*
docs/build/html/*
docs/source/.ipynb_checkpoints/
examples/notebooks/.ipynb_checkpoints/*.ipynb
pivpy.egg-info/PKG-INFO
