*.pyc
examples/data/.ipynb_checkpoints/*
.pytest_cache/*
.pytest_cache/*
build/*
dist/*
PIVPy.egg-info/*
tests/PIVPy.egg-info/*
.vscode/
docs/build/*
docs/build/doctrees/environment.pickle
docs/build/doctrees/index.doctree
docs/build/html/.buildinfo
