*.pyc
examples/data/.ipynb_checkpoints/*
.pytest_cache/*
build/*
dist/*
.vscode/
docs/build/*
docs/build/doctrees/*
docs/build/html/*
docs/source/.ipynb_checkpoints/*
examples/notebooks/.ipynb_checkpoints/*
pivpy.egg-info/PKG-INFO
pivpy/data/openpiv/.ipynb_checkpoints/*
.ipynb_checkpoints/*
pivpy.egg-info/**
